.row{
    margin-top: 20px;
    margin-right:20px;
    margin-left: 30px;
}
div{
    background-color:rgb(107, 175, 177);
}

h3,h4,h6 {
    display: inline
}
ul, li{
    list-style-type: none;
}
.titulo{
    text-align: center;
}