<div class="row">  
    <h4> Proyectos realizados </h4>
    <div class="contenedor">
        <div class="clase2"> 
            <h5>Pagina web estilo blog</h5>
            <p> Pagina web estilo blog con CRUD de datos hecho con Python y Django realizada en 2022</p>
        </div>
        <div class="imgdiv"> 
            <img src="../../../assets/proyecto.JPG" alt="capturaproyecto" class="img-fluid img-thumbnail proyectoimg">
        </div>
    </div>
    <div class="contenedor2">
        <div class="clase2"> 
            <h5>Portfolio personal</h5>
            <p> Pagina web creada con Angular de Portfolio personal realizada en 2023</p>
        </div>
        <div class=" float-right imgdiv2"> 
            <img src="../../../assets/proyecto2.JPG" alt="capturaproyecto2" class="img-fluid img-thumbnail proyectoimg2">
        </div>
    </div>


</div>