.row{
    padding-top: 80px;
    margin-right:20px;
    margin-left: 30px;
    background: linear-gradient(#6bafb112, white)
}

.btnxp{
    text-align: center;

}
.btnnew{
    background-color: rgba(107, 175, 177, 0.071);
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 5%;
}
td{
    text-align: left;
}

h3,h4,h6 {
    display: inline
}
ul, li{
    list-style-type: none;
}
.titulo{
    text-align: center;
}