<div class="row"> 
    <h3 class="titulo"> Experiencia Laboral</h3>
    <div class="col-lg-11"> 
        <ul>
            <li> <img src="../../../assets/inasud.png" height="70px" width="70px"> <h4>Administrador base de datos</h4> <h6 >(2022-actual)</h6></li>
            <p>Create read update and delete de informacion en base de datos SQL</p>
            <li><img src="../../../assets/microfocus.png" height="50px" width="50px">  <h4>Pasantia consultor</h4> <h6 >(2023-actual)</h6></li>
            <p>Pasantia en MicroFocus consultoria</p>
        </ul>
    </div>

</div>