<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/foto-de-perfil.jpg" class="img-fluid" id="pfpic">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="name">{{usuario.nombre}}</p>

    </div>
    <div>
        <span class="fs-4" id="desc">
            Hola! soy Lucas, tengo 19 y soy Estudiante de programacion, me encanta hacer 
            paginas web e intento  aprender cada dia un poco mas, 
            intento dedicarle todos los dias un poco de tiempo a la parte practica haciendo proyectos
            
        </span>
    </div>

</div>
