.row{
    margin-right:20px;
    margin-left: 30px;
    background: linear-gradient(white,rgb(107, 175, 177))
}

div{

    text-align: center;
}
.btnnew{
    padding-top: 2%;
}
#name{
    font-weight: bold;
    padding-top: 70px ;
    margin-left: 10px;
}
@media(min-width:700px){
    #pfpic{
        position: absolute;
        width: 10%;
        border-radius: 50%;
        left: 10%;
        top: 700px;
    }
}
@media(max-width:701px){
    #pfpic{
        position: absolute;
        width: 10%;
        border-radius: 50%;
        left: 10%;
    }
}
#desc{
    padding-left: 50px ;
    margin-bottom: 20px;
}

#desc{
    text-align: center;
    font-style: italic;
}