<div class="row">

    <div class="btnnew">
        <button type="button" class="btn btn-primary btned" routerLink="/editab/2" *ngIf="isLogged">Editar perfil</button>
    </div>

    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src={{usuario.img}} class="img-fluid" id="pfpic">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="name">{{usuario.nombre}} {{usuario.apellido}}</p>

    </div>
    <div>
        <span class="fs-4" id="desc">
            {{usuario.descripcion}}
            
        </span>
    </div>

</div>
