<div class="container" *ngIf="usuario">
    <div class="row">
        <div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-gr">
                    <label for="nombre"> Nombre </label>
                    <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="usuario.nombre" required>
                </div>
                <div class="form-gr">
                    <label for="apellido"> Apellido </label>
                    <input type="text" class="form-control" id="apellido" name="apellido" [(ngModel)]="usuario.apellido" required>
                </div>
                <div class="form-gr">
                    <label for="descripcion"> Descripcion </label>
                    <input type="text" class="form-control" id="descripcion" name="descripcion" [(ngModel)]="usuario.descripcion" required>
                </div>
                <div class="form-gr">
                    <label for="img"> Imagen </label>
                    <input type="file" class="form-control" id="img" name="img" [(ngModel)]="usuario.img" (change)="uploadImg($event)" accept=".jpg, .jpeg, .png, .gif">
                </div>
                <div class="form-gr">
                    <button class="btn btn-light"> Editar </button>
                </div>
            </form>
        </div>
    </div>
</div>