<nav id="menu principal">
    <div id="backlogo">
        <ul>
            <li> <a href="../login"><button type="button" class="btn btn-outline-dark" (click)="login()" *ngIf="!isLogged"> Ingresar </button></a></li>
            <li> <a href="../login"><button type="button" class="btn btn-outline-dark" (click)="onLogOut()" *ngIf="isLogged"> Salir </button></a></li>
            <li><a href="https://www.linkedin.com/in/lucas-morales-in/"><img src="../../../assets/linkedin.png" alt="linkedinlogo" width="40px"></a></li>
            <li><a href="https://www.instagram.com/_lukmorales/"><img src="../../../assets/instagram.png" alt="instagramlogo" width="40px"></a></li>
            <li><a href="https://github.com/lukasako"><img src="../../../assets/github.png" alt="githublogo" width="40px"></a></li>
            
        </ul>
        <img src="../../../assets/logoap.png" id="logoap">
        
    </div>
</nav>