.row{
    margin-right:20px;
    margin-left: 30px;
    background: white
}

.btned{
    text-align: center;
    margin-bottom: 5%;
}

td{
    text-align: left;
}

h3,h4,h6 {
    display: inline
}
ul, li{
    list-style-type: none;
}
.titulo{
    text-align: center;
}