<div class="row"> 
    <h3 class="titulo"> Educacion</h3>
    <div class="col-lg-11"> 
        <ul>
            <li> <img src="../../../assets/colegio.png" height="50px" width="50px">  <h4>Titulo secundario</h4> <h6 >(2016-2021)</h6></li>
            <p>Bachillerato en economia y administracion empresarial</p>
            <li> <img src="../../../assets/coder.png" height="50px" width="50px">  <h4>Curso Python</h4> <h6 >(mayo 2022-junio 2022)</h6></li>
            <p>Introduccion a Python</p>
        </ul>
    </div>

</div>