<div class="row">  
    <h4> Proyectos realizados </h4>
    <div class="contenedor">
        <div class="col-sm-10 col-md-5 col-lg-7"> 
            <h5>Pagina web estilo blog</h5>
            <p> Pagina web estilo blog llamada Lgram con CRUD de datos hecho con Python y Django</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-2 offset-md-3 offset-lg-7 imgdiv"> 
            <img src="../../../assets/proyecto.JPG" alt="capturaproyecto" class="img-fluid proyectoimg">
        </div>
    </div>


</div>