<div class="row">
    <h4 class="hs">Hard & Soft skills</h4>
    
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="100"
        [radius]="100"
        [showUnits]="false"
        [imageSrc]="'../../../assets/python.png'"
        [showImage]="true"
        [imageHeight]="70"
        [imageWidth]="70"
        [title]="'python'"
        [titleFontSize]="'2em'"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300">
        </circle-progress> 
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="100"
        [radius]="100"
        [showUnits]="false"
        [imageSrc]="'../../../assets/reino.png'"
        [showImage]="true"
        [imageHeight]="70"
        [imageWidth]="70"
        [title]="'CSS'"
        [titleFontSize]="'2em'"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300">
        </circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="80"
        [radius]="100"
        [showUnits]="false"
        [imageSrc]="'../../../assets/html.png'"
        [showImage]="true"
        [imageHeight]="70"
        [imageWidth]="70"
        [title]="'HTML'"
        [titleFontSize]="'2em'"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300">
        </circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="70"
        [radius]="100"
        [showUnits]="false"
        [imageSrc]="'../../../assets/css.png'"
        [showImage]="true"
        [imageHeight]="70"
        [imageWidth]="70"
        [title]="'CSS'"
        [titleFontSize]="'2em'"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300">
        </circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="80"
        [radius]="100"
        [showUnits]="false"
        [imageSrc]="'../../../assets/php.png'"
        [showImage]="true"
        [imageHeight]="70"
        [imageWidth]="70"
        [title]="'php'"
        [titleFontSize]="'2em'"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300">
        </circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="50"
        [radius]="100"
        [showUnits]="false"
        [imageSrc]="'../../../assets/typescript.png'"
        [showImage]="true"
        [imageHeight]="70"
        [imageWidth]="70"
        [title]="'CSS'"
        [titleFontSize]="'2em'"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [outerStrokeColor]="'#FA996A'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300">
        </circle-progress>
    </div>
</div>